.footer {
    background-color: $bg-alt-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.footer__address {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {}
    @media screen and (min-width: $desktop) {
        margin-right: 70px;
    }
}

.footer__logo-container {
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        text-align: inherit;
    }
    @media screen and (min-width: $desktop) {
        text-align: inherit;
    }
}

.logo__footer {
    color: $bg-color;
}

.address {
    margin: 0;
    padding: 0;
}

.address__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.address__item {
    text-align: center;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        text-align: inherit;
    }
    @media screen and (min-width: $desktop) {
        text-align: inherit;
    }
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    font-style: normal;
    text-decoration: none;
    color: $footer-link-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer__link--address {
    color: $bg-color;
}

.socials {
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        text-align: inherit;
        margin-top: 0;
    }
    @media screen and (min-width: $desktop) {
        text-align: inherit;
        margin-right: 73px;
        margin-top: 0;
    }
}

.socials__title {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $bg-color;
}

.socials__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        justify-content: initial;
    }
    @media screen and (min-width: $desktop) {
        justify-content: initial;
    }
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: $bg-color;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $hover-color;
    }
}

.socials__icon {
    fill: $bg-color;
}

.subcription {
    margin-top: 60px;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        flex-grow: 2;
        margin-top: 60px;
    }
    @media screen and (min-width: $desktop) {
        margin-top: 0;
        width: 570px;
    }
}

.subcription__form {
    position: relative;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {}
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
}

.subcription__email-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $bg-color;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        text-align: center;
    }
    @media screen and (min-width: $desktop) {
        text-align: initial;
    }
}

.subcription__email-input {
    width: 100%;
    max-width: 358px;
    height: 50px;
    padding-left: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: $bg-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        margin-left: auto;
        margin-right: auto;
        max-width: 358px;
        width: 358px;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        max-width: 358px;
        width: 358px;
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.subcription__button {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 0;
    background-color: $hover-color;
    color: $bg-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    text-decoration: none;
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: relative;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        text-align: initial;
        max-width: 200px;
        width: 200px;
    }
    @media screen and (min-width: $desktop) {
        margin: 0;
        position: absolute;
        margin-bottom: 0;
        bottom: 0;
        right: 0;
        max-width: 200px;
        width: 200px;
    }
    &:hover,
    &:focus {
        background-color: $btn-hover-color;
    }
}

.subcription__icon {
    position: absolute;
    right: 28px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}