.header {
    height: 60px;
    &--bordered-bottom {
        border-bottom: 1px solid $border-color;
    }
    @media screen and (min-width: $tablet) {
        height: 80px;
    }
}

.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 3;
    background-color: transparent;
    fill: $main-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    & .close {
        display: none;
    }
    &.is-open .close {
        display: block;
    }
    &.is-open .open {
        display: none;
    }
    &:hover,
    &:focus {
        fill: $hover-color;
    }
    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-button.is-open {
    display: block;
}

.menu-container .menu-wrapper {
    display: none;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        display: flex;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.menu-container.is-open .menu-wrapper {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container.is-open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    background-color: $bg-color;
}

.nav {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        display: flex;
        align-items: center;
        margin-right: 84px;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
        margin-right: 305px;
    }
}

.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: $main-color;
    line-height: 1.19;
    letter-spacing: 0.03em;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        font-size: 24px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 26px;
    }
    &--shifted {
        margin: 0;
        @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
            margin-right: 88px;
        }
        @media screen and (min-width: $desktop) {
            margin-right: 93px;
        }
    }
}

.logo__accent {
    color: $hover-color;
}

.nav__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.nav__item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    text-align: center;
    letter-spacing: 0.02em;
    @media screen and (min-width: $tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    text-decoration: none;
    color: $main-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &--current {
        color: $hover-color;
        position: relative;
    }
    &--current::after {
        @media screen and (min-width: $tablet) {
            position: absolute;
            content: '';
            opacity: 1;
            display: block;
            bottom: 0;
            cursor: pointer;
            width: 100%;
            height: 4px;
            margin-top: 8px;
            background-color: $hover-color;
            background-size: auto;
            border-radius: 2px;
        }
    }
}

.contacts {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 50px;
    flex-direction: column-reverse;
    .contacts__item:not(:last-child) {
        margin-top: 32px;
        @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
            margin-top: 0;
            margin-bottom: 10px;
        }
        @media screen and (min-width: $desktop) {
            margin-top: 0;
            margin-right: 30px;
        }
    }
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        display: block;
        margin: 0;
        max-width: 140px;
        overflow: hidden;
    }
    @media screen and (min-width: $desktop) {
        margin: 0;
        width: 333px;
        flex-direction: initial;
    }
}

.contacts__link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $secondary-color;
    transition-property: color, font-size;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    &:focus,
    &:hover {
        color: $hover-color;
        font-size: 34px;
        @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
            font-size: 12px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 14px;
        }
    }
    & svg {
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
            fill: $secondary-color;
            margin-right: 8px;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        @media screen and (min-width: $desktop) {
            margin-right: 10px;
        }
    }
    &:hover svg,
    &:focus svg {
        fill: $hover-color;
    }
}

.hsocials {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-top: 64px;
    padding: 0;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.hsocials__item:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.hsocials__item:not(:last-child) {
    margin-right: 10px;
}

.hsocials__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $hover-color;
}

.svg-envelope {
    display: none;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        width: 14px;
        height: 12px;
    }
    @media screen and (min-width: $desktop) {
        width: 16px;
        height: 12px;
    }
}

.svg-smartphone {
    display: none;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        width: 10px;
        height: 14px;
    }
    @media screen and (min-width: $desktop) {
        width: 10px;
        height: 16px;
    }
}