/* секція hero */

.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: $bg-hero-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url('../images/hero-480.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/hero-480x2.jpeg');
    }
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url('../images/hero-768.jpeg');
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet) and (max-width: ($desktop - 1px)),
    screen and (min-resolution: 192dpi) and (min-width: $tablet) and (max-width: ($desktop - 1px)),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/hero-768x2.jpeg');
    }
    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url('../images/hero.jpeg');
        background-position: center;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
    screen and (min-resolution: 192dpi) and (min-width: $desktop),
    screen and (min-resolution: 2dppx) and (min-width: $desktop) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/hero-x2.jpeg');
    }
}


/* основний надпис секції */

.hero__title {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $bg-color;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        width: 360px;
        max-width: 360px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
        max-width: 696px;
    }
}


/* основна (і єдина) кнопка в hero - замовити  */

.hero__button {
    width: 100%;
    max-width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: $hover-color;
    border: 1px solid $hover-color;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $bg-color;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        width: 200px;
        max-width: 200px;
    }
    @media screen and (min-width: $desktop) {
        width: 200px;
        max-width: 200px;
    }
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: $btn-hover-color;
    }
}