.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 4;
}

.backdrop .close {
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: $bg-color;
    cursor: pointer;
}

.form__icon-close {
    display: block;
    margin: 0;
    fill: $main-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop .close:hover &,
    .backdrop .close:focus & {
        fill: $hover-color;
    }
}

.form-backdrop {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    height: 609px;
    background-color: $bg-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        width: 450px;
        max-width: 450px;
        height: 609px;
    }
    @media screen and (min-width: $desktop) {
        width: 528px;
        max-width: 528px;
        height: 581px;
    }
    @media screen and (max-height: 580px) {
        top: 0;
        height: 100%;
        transform: translate(-50%, 0);
        overflow: auto;
    }
    @media screen and (max-width: 450px) {
        padding: 20px;
    }
}

.form__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
}

.form__group {
    margin-top: 10px;
}

.form__group--alt {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.form__label {
    display: block;
    margin-bottom: 4px;
    line-height: 1.14;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $secondary-color
}

.form__input-container {
    position: relative;
}

.form__input {
    width: 100%;
    height: 38px;
    display: block;
    background-color: $bg-color;
    margin: 0;
    padding: 10px 20px;
    padding-left: 42px;
    line-height: 1.14;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $main-color;
    box-shadow: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: $hover-color;
    }
}

.area__input {
    width: 100%;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.14;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $main-color;
    box-shadow: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
        border-color: $hover-color;
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: $main-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .form__input:focus+& {
        fill: $hover-color;
    }
}

.form__text {
    color: $secondary-color;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        font-size: 12px;
    }
    @media screen and (min-width: $desktop) {
        font-size: 14px;
    }
}

.form__text a {
    color: $hover-color;
}

.form__label-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {}
    @media screen and (min-width: $desktop) {
        padding-left: 14px;
    }
}

.form__check-container {
    display: block;
    width: 16px;
    flex-basis: 16px;
    height: 15px;
    border: 2px solid $main-color;
    border-radius: 4px;
    margin-right: 7px;
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon-check {
    display: none;
    transition-property: display;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked+.form__label-checkbox .form__check-container {
    background-color: $hover-color;
    border-color: $hover-color;
}

.form__checkbox:checked+.form__label-checkbox .form__icon-check {
    display: block;
}

.form__button-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__button {
    background-color: $hover-color;
    color: $bg-color;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $btn-hover-color;
    }
}