body {
    background-color: $bg-color;
    color: $main-color;
    letter-spacing: $letter-spacing;
    font-family: $main-font-family;
}

body.is-open {
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: $mobile;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
        width: $tablet;
        max-width: $tablet;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
        max-width: $desktop;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}