$main-font-family: Roboto,
sans-serif;
$bg-color: #ffffff;
$bg-alt-color: #2f303a;
$bg-hero-color: rgba(47, 48, 58, 0.4);
$main-color: black;
$border-color: #ececec;
$hover-color: #2196f3;
$btn-hover-color: #188CE8;
$secondary-color: #757575;
$button-border-color: #f5f4fa;
$item-border-color: #eeeeee;
$footer-link-color: rgba(255, 255, 255, 0.6);
$social-icon-fill: #AFB1B8;
$letter-spacing: 0.03em;